[data-module="shares"]{
  width: 100%;
  height: 70px;
  .cp_share_widget{
    display: inline-block;
    min-width: 310px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: $sizeGutter;
    background-color: black;

    .cp_share_widget_outer{
      display: table;
      position: relative;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      .cp_share_widget_inner{
        display: table-cell;
        position: relative;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
      }
    }

    span, span a{
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-family: BrandonGrotesqueBold,arial,sans-serif;
      font-size: 12px!important;
    }

    &.black_share{
      margin: 0px !important;
      float: none;
      padding-top: 0px !important;
      padding-left: 0px !important;
      span, span a{
        color: black !important;
      }
    }

    .counter{
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #ccc;
      display: inline-block;
      vertical-align: top;
      @include respond-to(mobile) {
        margin-right: 5px !important;
      }
      span {
        vertical-align: top;
      }
      .counter_outer{
        min-height: 32px;
        display: inline-block;
        vertical-align: top;
        .counter_inner{
          margin-top: 1px;
          display: inline-block;
          .counter_value{
            font-size: 16px!important;
            display: block;
            line-height: 20px!important;
            font-weight: 700;
            font-family: BrandonGrotesqueBold,arial,sans-serif;
          }
          .counter_label{
            line-height: 1;
            display: block;
            font-size: 10px!important;
            font-family: BrandonGrotesqueRegular,arial,sans-serif;
          }
        }
      }
    }

    .share_buttons{
      display: inline-block;

      .cp-share-button{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        line-height: 1;
        box-sizing: border-box;
        float: none;
        width: auto;
        color: transparent;
        text-decoration: none !important;
        outline: 0;
        background: 0 0;
        @include respond-to(mobile) {
          padding-right: 5px;
        }
        @include respond-to(tabletportrait) {
          padding-right: 5px;
        }
        .cp-share-button-outer{
          float: none;
          display: inline-block;
          white-space: nowrap;
          vertical-align: middle;
          text-align: center;
          width: 120px;
          height: 30px;
          @include respond-to(mobile) {
            width: auto;
          }
          @include respond-to(tabletportrait) {
            width: auto;
          }
          .cp-share-button-inner{
            display: table;
            float: none;
            vertical-align: middle;
            .cp-share-button-text{
              display: table-cell;
              font-family: BrandonGrotesqueBold,arial,sans-serif;
              vertical-align: middle;
              text-align: left;
              padding-left: 8px;
              padding-top: 3px;
              @include respond-to(mobile) {
                display: none;
              }
              @include respond-to(tabletportrait) {
                display: none;
              }
            }
          }

        }
      }


      .cp-share-button-email{
        .cp-share-button-outer{
          width: auto !important;
        }
      }

    }

  }

}

