[data-module="filters"]{
  background-color: $colorCafe;
  color: white;
  height: 81px;
  box-sizing: border-box;
  background-size: cover;

  .switch_view{
    color: $colorDarkGrey;
    width: 280px;
    height: 80px;
    display: none;
    float: right;
    .active{
      background-color: $colorShadeLight;
    }
    .list_view{
      width: 100px;
      height: 80px;
      float: left;
      line-height: 80px;
      font-family: ChaparralProIt,georgia,serif;
      font-size: 14px;
      font-style: italic;
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;
      .listview{
        margin: 30px 10px 0px 0px;
        display: inline-block;
        float: left;
      }
    }
    .map_view{
      width: 100px;
      height: 80px;
      float: left;
      line-height: 80px;
      font-family: ChaparralProIt,georgia,serif;
      font-size: 14px;
      font-style: italic;
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;
      .mapview{
        margin: 30px 10px 0px 0px;
        display: inline-block;
        float: left;
      }
    }
  }

  .filterbar {
    box-sizing: border-box;
    background-color: $colorCafe;
    border-top: 1px solid $colorDark;
    border-bottom: 1px solid $colorDark;
    padding-left: 15px;

    .switch_view{
      box-sizing: border-box;
      display: block;
    }

    .filters {
      box-sizing: border-box;
      @include clear;
      list-style-type: none;
      font-size: 0;
      margin-left: $sizeGutter * -1;
      margin-right: $sizeGutter * -1;
      padding: $sizeGutter 0;
      float:left;
      width: calc(100% - 290px);

      @include respond-to(nondesktop) {
        margin: 0;
      }


      .filter {
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
        padding: ($sizeGutter / 2) 0;
        font-family: $fontDefaultMedium;
        font-size: $fontSizeSmall;

        @include respond-to(mobile) {
          font-size: $fontSizeSmaller;
        }

        &:first-child {
          a {
            border-left: 0;
          }
        }

        &:hover a {
          color: $colorLight;
        }

        &.active a {
          color: $colorLight;
        }
      }

      a {
        @include transition(color .2s ease-in-out);
        color: $colorDarkGrey;
        text-decoration: none;
        line-height: 1.5;
        display: inline-block;
        padding: 0 $sizeGutter;
        border-left: 1px solid $colorLight;

        @include respond-to(mobile) {
          padding: 0 ($sizeGutter * .4);
        }
      }
    }
  }
}
