// VENDOR PREFIXES
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

// TRANSPARENCY
@mixin opacity($value: .5, $important: null) {
	opacity: $value $important;
	filter: alpha(opacity=$value * 100) $important;
	zoom: 1;
}

// TRANSITION
@mixin transition($transition: all .1s linear) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// TRANSITION MULTIPLE
@mixin transitions($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// FORCE HARDWARE ACC
@mixin hardware-acc {
	@include vendorize(transform, translate3d(0, 0, 0));
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

// GRAYSCALE FILTER
@mixin grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-backface-visibility: hidden;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

// NON-GRAYSCALE FILTER
@mixin non-grayscale {
	filter: none;
	-webkit-backface-visibility: hidden;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
}
// User-select
@mixin user-select($args...) {
	-webkit-user-select: $args;
	-khtml-user-select: $args;
	-moz-user-select: $args;
	-ms-user-select: $args;
	user-select: $args;
}

// CLEAR MARGIN-PADDING
@mixin clear {
	margin: 0;
	padding: 0;
}

// FILL SPACE
@mixin fill {
	height: 100%;
	width: 100%;
}

// BACKGROUND-COVER
@mixin cover {
	@include hardware-acc;
	@include vendorize(background-size, cover);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

// BG RETINA
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

// RESPONSIVENESS
@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 868px - 1) { @content; }
		&.mobile { @content; }
	}
	@else if $media == tabletportrait {
		@media only screen and (min-width: 868px - 1) and (max-width: 1024px - 1) { @content; }
		&.tablet  { @content; }
	}
	@else if $media == tabletlandscape {
		@media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) { @content; }
		&.tablet  { @content; }
	}
	@else if $media == nondesktop {
		@media only screen and (max-width: 1280px - 1) { @content; }
		&.tablet  { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: 1280px) { @content; }
		&.desktop  { @content; }
	}
}
