$sizeGutter: 20px;
$sizeWrapperWide: 1280px;
$sizeMenubarHeight: 60px;
$sizeMenubarPinnedHeight: 100px;
$sizeMenubarPinnedMobileHeight: 72px;
$sizeMenubarSub: 200px;
$sizeMenubarSubMobile: 130px;
$sizeMenubarSubBoard: 284px;
$sizeMenubarSubBoardMobile: 230px;
$sizeCalendarEvents: 360px;
$sizeSearchFormSubmit: 96px;
$sizeSearchFormSimple: 400px;
$sizeGroupFieldItem: 160px;
$sizeCheckbox: 14px;
$sizeBannerCaption: 420px;
$sizeBannerTip: 280px;
$sizePlaytimeSidebar: 140px;
$sizePlaytimeFieldItem: 174px;
$sizePlaytimeSubmit: 100px;
$sizeSidebar: 417px;
$sizeTableTitleHeight: 75px;
$sizeTableSidebar: 264px;
$sizeTrendingThumb: 100px;
$sizeSevenDaysBubble: 120px;
$sizeGuideLinks: 200px;
$sizeGridThumbBig: 420px;
$sizeGridThumbSmall: 100px;
$sizeHugeSelector: 480px;
$sizeBestOfItem: 346px;
$sizeArticleSidebar: 210px;
$sizeArticlePreviewThumb: 244px;
$sizeVenueBoxMini: 240px;
$sizeCategoryBarHeight: 45px;
$sizeGalleryThumbHeight: 122px;
$sizeResultsSidebar: 250px;
$sizeResultsThumb: 325px;
$sizeInfowWindow: 620px;
$sizeInfowWindowMobile: 460px;
$sizeInfowWindowThumb: 316px;
$sizeInfowWindowThumbMobile: 280px;
$sizeMapStripHeight: 140px;
$sizeMapStripThumb: 140px;
$sizeMapStripThumbHeight: 84px;
$sizeShareBarHeight: 78px;
$sizeArticleFullSidebar: 400px;
$sizeArticleFullSidebarMobile: 300px;
$sizeImageSlider: 900px;

$fontSizeSmallest: 11px;
$fontSizeSmaller: 12px;
$fontSizeSmall: 13px;
$fontSizeDefaultSmaller: 14px;
$fontSizeDefaultSmall: 15px;
$fontSizeDefault: 16px;
$fontSizeMedium: 18px;
$fontSizeMediumBig: 20px;
$fontSizeMediumBigger: 22px;
$fontSizeBig: 26px;
$fontSizeHuge: 30px;
$fontSizeHulk: 48px;

$colorLight: #fff;
$colorLightAlpha: rgba(255, 255, 255, .1);
$colorLightAlphaMenu: rgba(255, 255, 255, .9);
$colorLightAlphaEvent: rgba(255, 255, 255, .4);
$colorLightAlphaItem: rgba(255, 255, 255, .8);
$colorLightMenu: #f1f1f1;
$colorLightGrey: #282828;
$colorDark: #000;
$colorDarkAlpha: rgba(0, 0, 0, .7);
$colorDarkerAlpha: rgba(0, 0, 0, 0.95);
$colorDarkGrey: #1c1c1c;
$colorActive: #cfa373;
$colorGold: #ceb688;
$colorCafe: #ddc596;
$colorYellow: #eebb37;
$colorBlue: #358296;
$colorOrange: #d87a3c;
$colorGreen: #429644;
$colorRed: #a22127;
$colorFood: #85ab8f;
$colorArt: #3b4d81;
$colorDesign: #f05358;
$colorTravel: #b5cde2;
$colorBorderSubmenu: #393939;
$colorShade: #666;
$colorShadeLight: #f5f2ed;
$colorBorderLight: #e5e5e5;
$colorBorderDark: #252525;
$colorBorderLayout: #ccc;
$color_cararra_approx: #ebebeb;
$color_rangoon_green_approx: #1c1c1d;
$colorBorderLayout: #ccc;
$color_silver_approx: #bdbdbd;
$alabaster: #fafafa;
$color_sorrell_brown_approx: #ccb68b;
$color_kabul_approx: #564f41;
$color_fuscous_gray_approx: #505050;
$gray: gray;

$media-max-width-1023: "only screen and(max-width: 1023px)";
$media-max-device-width-767: "only screen and(max-device-width: 767px)";

$fontDefault: "BrandonGrotesqueRegular", arial, sans-serif;
$fontDefaultText: "BrandonText-Regular", arial, sans-serif;
$fontDefaultMedium: "BrandonGrotesqueMedium", arial, sans-serif;
$fontDefaultBold: "BrandonGrotesqueBold", arial, sans-serif;
$fontItalic: "ChaparralProIt", georgia, serif;
$fontItalicSemibold: "ChaparralProSmBd", georgia, serif;
$fontItalicBold: "ChaparralProBdIt", georgia, serif;
