html,body{
  max-width: 3000px;
  margin: 0;
  width: 100%;
  padding: 0;
}
body{
  background-color: #1c1c1c !important;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px 0px;
  overflow: auto;
}
@import "vars";
@import "mixins";
@import "animations";
@import "sprites";
body img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; user-select: none;
}

#app{
  max-width: 1450px;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  height: auto;
  transition: all .5s;
  @include respond-to(tabletportrait) {
    max-width: 980px;
  }

  @include respond-to(mobile) {
    max-width: 768px;
  }
}
