.sidebar{
  position: fixed;
  width: 600px;
  height: 100%;
  z-index: 99999;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .9);
  overflow: auto;
  .card-module {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    width: 70%;
    border: 1px solid white;
    border-radius: 5px;
    margin: 25px auto;
    cursor: pointer;
    padding: 5px 0px;
    &:active{
      transform: scale(0.9);
    }
    img{
      width: 90%;
      border: 0px solid white;
      border-radius: 5px;
      margin:0px 5%;
      height: auto;
    }
    .title{
      width: 100%;
      background-color: white;
      height: auto;
      color: $colorDarkGrey;
      font-size: 14px;
      padding: 10px;
      box-sizing: border-box;
      box-sizing: border-box;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-bottom: -6px;
    }
  }
}
