.navigation{
  position: fixed;
  width: 60px;
  height: 230px;
  top: 25px;
  right: 25px;
  z-index: 9999;
  >div{
    transition:  transform 0.25s;
    &:hover{
      //transform: rotate(-30deg);
      transform: scale(1.1);
    }
  }

  #add{
    width: 60px;
    cursor: pointer;
    height: 60px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid white;
    background-image: url("../images/add.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    &.opened{
      transform: rotate(-45deg);
    }
  }
  #switch_view{
    width: 60px;
    cursor: pointer;
    height: 60px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid white;
    &.mobile{
      background-image: url("../images/mobile.svg");
    }
    &.desktop{
      background-image: url("../images/desktop.svg");
    }
    &.tablet{
      background-image: url("../images/tablet.svg");
    }
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #save{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid white;
    background-image: url("../images/save.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

}
