[data-module="header_content"]{
  background-color: #1B1B1B;
  .canvas.cover {
    width: 60%;
    float: left;
    img {
      width: 100%;
      height: auto;
    }
    @include respond-to(tabletportrait) {
      width: 100%;
    }

    @include respond-to(tabletlandscape) {
      width: 100%;
    }

    @include respond-to(mobile) {
      width: 100%;
    }
  }
  .content-inner{
    float: right;
    color: white;
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 120px 10px 40px;
    line-height: 28.6px;
    font-size: $fontSizeMedium;
    font-family: $fontItalic;
    font-style: italic;

    @include respond-to(tabletportrait) {
      width: 100%;
    }

    @include respond-to(tabletlandscape) {
      width: 100%;
    }

    @include respond-to(mobile) {
      width: 100%;
    }

    a {
      font-style: normal;
      font-size: 22px;
      text-decoration: none;
      color: $colorCafe;
    }
  }
}
.clear{
  clear: both;
}
