[data-module="event_wrap_up"]{
  background-color: $colorCafe;
  padding: 25px 20px;
  >h3{
    font-size: 22px;
    color: #85671F;
  }
  >h5{
    font-size: 14px;
    color: $colorDarkGrey;
  }

  .thumb-mask {
    @include transition(opacity .3s ease-in-out);
    @include opacity(0);
    @include fill;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .table {
      position: absolute;
      width: 102%;
      height: 102%;
      left: -1%;
      top: -1%;
      display: table;

      .cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background-color: $colorDarkAlpha;
      }

      .sprite {
        margin: 0 auto;
      }
    }
  }

  .playbutton{
    width: 128px;
    height: 128px;
    background-image: url("../images/play-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  .hr{
    margin: 15px auto;
    height: 1px;
    box-sizing: border-box;
    width: 70%;
    background-color: #CCCCCC;
  }
  .boards {
    box-sizing: border-box;
    @include transition(opacity 0.2s ease-in-out);
    @include clear;
    list-style-type: none;
    font-size: 0;
    margin-left: $sizeGutter * -1;
    margin-right: $sizeGutter * -1;
    margin-top: $sizeGutter * 2;
    overflow: hidden;
    min-height: 300px;

    &.loading {
      opacity: 0.2;
      filter: alpha(opacity=20);
      zoom: 1;
    }

    @include respond-to(nondesktop) {
      margin: $sizeGutter 0 0;
    }

    .board {
      box-sizing: border-box;
      font-size: $fontSizeDefaultSmaller;
      width: 33.33%;
      float: left;
      padding: 0 $sizeGutter;

      @include respond-to(tabletportrait) {
        width: 50%;

        &:nth-child(3n+1) {
          clear: none !important;
        }

        &:nth-child(2n+1) {
          clear: left;
        }
      }

      @include respond-to(mobile) {
        width: 100%;
        float: none;
      }

      .thumb-mask {
        @include opacity(1);
      }

      &:nth-child(3n+1) {
        clear: left;
      }

      &.ready {
        opacity: 0;
        filter: alpha(opacity=0);
        zoom: 1;
        position: relative;
        top: 40px;
      }
    }

    .thumbnail {
      position: relative;

      .canvas {
        padding-bottom: 64.5%; /* RATIO 1.55:1 */
        overflow: hidden;
      }

      img {
        position: absolute;
        display: block;
        width: 100%;
      }
    }

    .title {
      font-size: $fontSizeSmall;
    }

    .content {
      line-height: 1.4;
      padding: $sizeGutter 0 ($sizeGutter * 2);

      @include respond-to(mobile) {
        padding-top: $sizeGutter / 2;
      }

      p {
        margin: .5em 0;
      }

      p.link {
        margin-top: 1em;
      }
    }

    .link {
      overflow: hidden;

      a {
        float: left;
      }
    }
  }

}