[data-module="bestofcarousel"] {
  background-color: $colorLightGrey;
  color: $colorLight;
  position: relative;
  overflow: hidden;

  .selector {
    position: relative;
    font-family: $fontDefaultBold;
    font-size: $fontSizeHulk;
    line-height: 1;
    padding: ($sizeGutter * 2.5) 0;

    @include respond-to(mobile) {
      font-size: $fontSizeBig;
      padding: ($sizeGutter * 1.5) 0 ($sizeGutter * 1.8);
    }
  }

  .selected, .prefix {
    position: relative;
    line-height: 1.4;
    display: inline-block;
  }

  .selected {
    cursor: pointer;
    width: $sizeHugeSelector;
    color: $colorCafe;
    border-bottom: 1px solid $colorCafe;

    @include respond-to(mobile) {
      display: block;
      margin: 0 $sizeGutter;
      width: inherit;
    }

    &:before {
      @include background-image-retina("../images/sprite-global", "png", 4400px, 276px);
      position: absolute;
      top: 50%;
      right: 17px;
      content: "";
      margin-top: -11px;
      width: 16px;
      height: 22px;
      background-position: -2660px -126px;

      @include respond-to(mobile) {
        margin-top: -12px;
      }
    }
  }

  .value {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: $sizeGutter * 3;
  }

  .prefix {
    padding-left: $sizeGutter;
    display: inline-block;
    overflow: hidden;

    @include respond-to(mobile) {
      display: block;
      margin: 0 $sizeGutter;
      padding-left: 0;
      width: inherit;
    }
  }

  .items {
    @include clear;
    list-style-type: none;
    overflow: hidden;
    font-size: 0;
    padding-bottom: $sizeGutter * 1.5;
    width: 19999px;
    position: relative;



    .item {
      @include transition(opacity .2s ease-in-out);
      @include opacity(0);
      position: relative;
      width: $sizeBestOfItem;
      display: inline-block;
      float: left;


      &.ready {
        @include opacity(1);
      }

      &.active {
        .curtain {
          @include opacity(0);
        }

        .name {
          @include opacity(1);
        }

        > a.grayscale {
          @include non-grayscale;
          @include opacity(1);
        }
      }

      > a {
        @include transition(all .5s ease-in-out);
        @include fill;
        @include opacity(1);
        display: block;
        position: relative;

        &.grayscale {
          @include grayscale;
          @include opacity(.3);
        }

        &:hover, &:hover.grayscale {
          @include non-grayscale;
          @include opacity(1);

          .name {
            @include opacity(1);
          }
        }
      }
    }

    .name {
      @include transition(opacity .2s ease-in-out);
      @include opacity(.1);
      font-family: $fontDefaultBold;
      font-size: $fontSizeDefaultSmall;
      color: $colorLight;
      padding: $sizeGutter * 1.25;
      line-height: 1.4;
    }

    .thumbnail {
      position: relative;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .menu {
    @include transition(opacity .2s ease-in-out);
    @include opacity(0);
    position: absolute;
    z-index: 100;
    left: -9999px;
    top: 140px;
    background-color: $colorLightGrey;
    overflow: hidden;

    &.visible {
      @include opacity(1);
      left: 0;

      @include respond-to(mobile) {
        top: 110px;
        width: 100%;
      }
    }

    .menu-inner {
      padding: $sizeGutter $sizeGutter $sizeGutter 0;

      @include respond-to(mobile) {
        padding: $sizeGutter;
      }
    }

    .options {
      @include clear;
      list-style-type: none;
      font-size: 0;
      width: $sizeHugeSelector - $sizeGutter;

      @include respond-to(mobile) {
        width: inherit;
      }
    }

    .option {
      font-size: $fontSizeHuge;
      line-height: 1;
      padding: ($sizeGutter * .75) ($sizeGutter * 3) ($sizeGutter * .75) 0;

      @include respond-to(mobile) {
        font-size: $fontSizeBig;
        padding: ($sizeGutter / 2) ($sizeGutter * 1.5) ($sizeGutter / 2) 0;
      }

      &:hover, &.active {
        label {
          border-color: $colorCafe;
        }
      }

      label {
        @include transition(border-color .2s ease-in-out);
        color: $colorCafe;
        border-bottom: 2px solid $colorLightGrey;
        cursor: pointer;
        display: inline-block;
        line-height: 1;
      }
    }
  }

  .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    display: block;
    z-index: 100;

    @include respond-to(mobile) {
      display: none;
    }

    &.prev {
      left: $sizeGutter * 2;
    }

    &.next {
      right: $sizeGutter * 2;
    }

    .nav-inner {
      @include fill;
      display: table;
    }

    .nav-arrow {
      display: table-cell;
      vertical-align: middle;
    }
  }
}