.copy_button{
  position: fixed;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid white;
  background-image: url("../images/copy.svg");
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 25px;
  right: 25px;
  z-index: 9999;
}
